version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 1
    rebase-strategy: "auto"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
    labels:
      - "dependencies"
      - "dependabot"
    security-updates-only: false
    target-branch: "main"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 1
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "dependabot"
    security-updates-only: false
    target-branch: "main"
